nav a {
    display: inline;
    position: relative;
    left:950px;
    color:purple;
}

h4 {
    text-align: center;
}

.description {
    position: relative;
    left: 300px;
}

p {
    text-align: center;
}
#logo {
    position: relative;
    right: 350px;
    
}
